if SHIELD_JOSUKEY_LEFT

config ZMK_KEYBOARD_NAME
    default "Josukey"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_JOSUKEY_LEFT || SHIELD_JOSUKEY_RIGHT

config ZMK_SPLIT
    default y

endif
